.vscode
build
data/.idea
GeneExpressionProgramming
GeneExpressionProgramming.exe
CMakeFiles
./*.cmake
CMakeCache.txt
./GeneExpressionProgramming
GeneExpressionProgramming
accuracy- -a 0.8-100.png
duration- -a 0.8-100.png
