.vscode/c_cpp_properties.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/GeneExpressionProgramming
build/rules.ninja
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/.cmake/api/v1/reply/cache-v2-9986bf40143a0ce74b8b.json
build/CMakeFiles/.cmake/api/v1/reply/codemodel-v2-8a214a03eb6414cc9d04.json
build/CMakeFiles/.cmake/api/v1/reply/index-2022-08-08T02-59-10-0976.json
build/CMakeFiles/.cmake/api/v1/reply/target-GeneExpressionProgramming-Debug-909929d4e8a35a054b60.json
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/GeneExpressionProgramming.dir/fileProcess.cpp.o
build/CMakeFiles/GeneExpressionProgramming.dir/Gene.cpp.o
build/CMakeFiles/GeneExpressionProgramming.dir/main.cpp.o
build/CMakeFiles/GeneExpressionProgramming.dir/test.cpp.o
build/data/calculate.py
build/data/forecast_result.txt
build/data/forecast.txt
build/data/input.txt
build/data/output.txt
